@import "tailwindcss";




body {
  background-image: url('/img_bg2.png');
  background-size: cover;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
   width: 100%;
  margin: 0;
  padding: 0;
 cursor: url('/c2.png') 8 8, auto;
}


@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

.hide-scrollbar {
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}